body{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
}
header {
    display: flex;
    align-items: center;
    height: 80px; 
    padding: 0 20px; 
    background-color: #fff; 
    border-bottom: 0.3px solid darkgrey;
}
  
header img {
    max-height: 100%;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
  
header nav a {
    text-decoration: none;
    color: #333; 
    padding-bottom: 1.8em;
}

nav ul li a:hover{ 
    border-bottom: 4px solid lightblue;
} 

main {
    width: 80%;
    margin: 0 auto;
}

.about-us h1{
    text-align: center;
    margin-top: 2rem;
}

.testimonials {
    margin-top: 5em;
}

.testimonial-section {
    text-align: center;
}

.testimonial-card {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testimonial-card svg{
    width: 2em;
}

.testimonial-card img {
    margin-top: 1em;
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 3em;
}

.testimonial-list {
    display: flex;
    justify-content: space-between;
}

.popular-list {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.popular-companies h1{
    text-align: center;
}

.jobs-list {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.popular-jobs h1{
    text-align: center;
}

.popular-jobs a {
    background-color: black;
}

.job-card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border: 2px solid lightblue;
}

.popular-jobs img {
    width: 10em;
}
.popular-card-v2{
    border: 2px solid lightblue;
    display: flex;
}
.popular-card-v2 img{
    object-fit: contain;
    width: 6em;
}
.card-review h2{
    margin: 0;
    padding-bottom: 0.1em;
}

.nav-card nav ul{
    margin-top: 0.7em;
    padding: 0;
}
.nav-card nav a {
    text-decoration: none;
    color: #333; 
}
  
.nav-card nav ul li a:hover{ 
    border-bottom: solid lightblue;
} 
.card-review p{
    float: right;
    margin: 0;
    color: blue;
    padding-right: 0.3em;
}
.popular-card-v2{
    padding-top: 0.3em;
    padding-right: 1.5em;
}